
        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Quicksand', sans-serif;
        }
        a {
            text-decoration: none;
        }

        button, input[type="submit"], input[type="reset"] {
            border: none;
            padding: 0;
            outline: inherit;
        }

        body {
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: #F9A826;
            height: 100vh;
            width: 100vw;
            border: 1px solid black;
            overflow-x:hidden;
            position: relative;
        }
        .header {
            height: 100px;
            display: flex;
            flex-direction: column;
            align-items: baseline;
            justify-content: center;
            position: relative;
            width: 100%;
        }
        .header.large {
            height: 250px;
        }

        .title-header {
            width: 100%;
            height: 63px;
            text-align: center;

            font-family: 'Quicksand';
            font-style: normal;
            font-weight: 700;
            font-size: 50px;
            line-height: 62px;
            /* identical to box height */

            text-align: center;

            color: #FFFFFF;
        }

        .title-header.small {
            font-weight: 700;
            font-size: 28px;
        }

        .title {
            font-size: larger;
            font-weight: 700;
            position: absolute;
            color: white;
        }

        .title-header.total-piutang {
            font-size: 35px;
            line-height: 170px;
        }

        .jumlah-piutang {
            line-height: 160px;
        }

        .role {
            position: absolute;
            left: 25px;
            top: 25px;

            font-family: 'Quicksand';
            font-style: normal;
            font-weight: 700;
            font-size: 30px;
            line-height: 25px;

            color: #FFFFFF;
        }
        
        .text-section {
            display: flex;
            justify-content: space-between;
        }
        .header .name{
            position: absolute;
            left: 25px;
            top: 60px;
            color: #FFFFFF;

            font-family: 'Quicksand';
            font-style: normal;
            font-weight: 700;
            font-size: 15px;
            line-height: 19px;
        }
        .bulat {
            background-color: #FFB133;
            border-radius: 50%;
            position: absolute;
            z-index: -1;
        }
        .bulat.a{
            height: 250px;
            width: 250px;
            right: -50px;
            top: -100px;
        }
        .bulat.b{
            height: 47px;
            width: 47px;
            left: 28px;
            top: 165px;
        }
        .bulat.c{
            height: 17px;
            width: 17px;
            left: -4px;
            top: 158px;
        }
        
        .title {
            height: 60px;
            width: 128px;
            left: 26px;
            /* top: 112px; */
            
            font-family: Quicksand;
            font-size: 48px;
            font-weight: 700;
            line-height: 60px;
            letter-spacing: 0em;
            text-align: left;
        }
        .h-line {
            width: 100%;
            border-bottom: 1px solid #ADADAD;

        }
        .main-container{
            position: relative;
            width: 100%;
            background-color: white;
            padding: 30px 30px;
            margin-top: 20px;
            border-radius: 30px 30px 0 0;
            height: 100%;
        }
        .form-box {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;
        }

        .input-section {
            display: flex;
            flex-direction: column;
        }
        .input-section label{
            font-weight: 600;
            margin-bottom: 10px;
        }
        .input-section input{
            margin-bottom: 30px;
            border: 0;
            height: 2em;
            border-bottom: 1px solid #ADADAD;
        }
        .alert {
            text-align: center;
            color: red;
        }
        .button {
            background-color: #FFB133;
            height: 50px;
            width: 100%;
            border-radius: 50px 50px 50px 50px;
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;

            cursor: pointer;

            font-family: Quicksand;
            font-size: 18px;
            font-weight: 700;
            line-height: 23px;
            letter-spacing: 0em;
        }

        .button:hover {
            background-color: #F9A826;
        }
        
        .button.duo {
            width: 40%;
        }
        .button.trio {
            width: 30%;
        }

        .option {
            width: 100%;
            display: flex;
            justify-content: space-between;
        }


        .border-bottom {
            padding-bottom: 17px;
            border-bottom: 1px solid #ADADAD;
            margin-bottom: 17px;
        }

        .logout {
            position: absolute;
            right: 20px;
            top: 20px;
            padding: 5px;
            border-radius: 10px;

            background-color: #FFB133;

            font-family: 'Quicksand';
            font-style: normal;
            font-weight: 700;
            font-size: 12px;
            line-height: 15px;
            color: white;
        }
        .logout:hover{
            background-color: #F9A826;
        }

        .data-container {
            display: flex;
            flex-direction: column;
            gap: 16px;
        }

        .data-box {
            background-color: #D9D9D9;
            display: flex;
            border-radius: 50px;
        }

        .profile-picture {
            background: url('images/rudeus.png');
            background-size: cover;
            width: 60px;
            height: 60px;
            border-radius: 50%;
            margin-right: 5px;
        }
        .profile-picture.pp-big {
            width: 130px;
            height: 130px;
        }

        .data-box .name, .data-box  .status {
            font-family: 'Quicksand';
            font-style: normal;
            font-weight: 600;
            font-size: 15px;
        }
        
        .number-section {
            width: 100%;
            display: flex;
            justify-content: space-between;
        }
        
        .data-section {
            width: 80%;
            display: flex;
            justify-content: space-around;
            flex-direction: column;
        }
        
        .data-box.paid {
            cursor: pointer;
            background-color: #7CDCD6;
        }

        .data-box.paid:hover {
            background-color: #74d2cc;
        }

        .total-piutang {
            width: 306px;
            height: 50px;

            font-family: 'Quicksand';
            font-style: normal;
            font-weight: 700;
            font-size: 40px;
            line-height: 50px;
            /* identical to box height */

            text-align: right;

            color: #FFFFFF;
        }

        .manager {
            padding-top: 180px;
        }

        .popup {
            width: 100vw;
            height: 100vh;
            position: fixed;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: rgba(0, 0, 0, 0.21);
        }

        .box-popup {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            padding: 25px;
            width: 320px;
            height: 300px;
            background: #FFFFFF;
            box-shadow: 5px 8px 10px 4px rgba(255, 177, 51, 0.56);
            border-radius: 20px;
        }
        .title-popup {
            font-family: 'Quicksand';
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            line-height: 25px;
            /* identical to box height */

            text-align: center;
        }
        .icon-popup {
            color: #FFB133;
            font-size: 50px;
        }
        .picture-container {
            display: flex;
            gap:5px;
        }
        .align-center {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            gap: 15px;
        }
        .space-around {
            width: 100%;
            display: flex;
            justify-content: space-evenly;
        }
        .name-title {
            font-family: 'Quicksand';
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            line-height: 25px;
            /* identical to box height */
        }
        .fiture {
            font-family: 'Quicksand';
            font-style: normal;
            font-weight: 700;
            font-size: 15px;
            line-height: 19px;
        }
        .transaction-table {
            width: 100%;
        }
        td.c-1 {
            text-align: left;
        }
        td.c-3 {
            text-align: right;
        }

        .split-month {
            font-weight: 600;
            font-size: 15px;
            line-height: 19px;
            text-align: center;
        }
