{% extends "layout.html" %}

{% block body %}

<div class="header">
    <div class="bulat a"></div>
    <div class="bulat b"></div>
    <div class="bulat c"></div>
    <!-- <h3 class="role">Sales</h3>
    <h4 class="name">Basuki Purnomo</h4> -->
    <!-- <a class="logout" href="/logout">logout</a> -->
    <h3 class="title large">Data Customer</h3>
    <!-- <div class="add-button">
        <i class="fa-solid fa-circle-plus"></i>
    </div> -->
    <a class="top-right-button" href="/manager">Back</a>
</div>
<div class="main-container">
    <div class="input-section">
        <input type="text" name="search-by-name" placeholder="Cari berdasarkan nama" required>
        <!-- <i class="fa-solid fa-magnifying-glass"></i> -->
    </div>
    <div class="data-container">
        <div class="data-box active">
            <div class="profile-picture"></div>
            <div class="data-section">
                <div class="number-section">
                    <div class="name">
                        Mr.Rudeus Greygrat
                    </div>
                    <div class="total">
                        Rp.123.000
                    </div>
                </div>
            </div>
        </div>
        <div class="data-box non-active">
            <div class="profile-picture"></div>
            <div class="data-section">
                <div class="number-section">
                    <div class="name">
                        Mr.Rudeus Greygrat
                    </div>
                    <div class="total">
                        Rp.123.000
                    </div>
                </div>
            </div>
        </div>
        <div class="data-box active">
            <div class="profile-picture"></div>
            <div class="data-section">
                <div class="number-section">
                    <div class="name">
                        Mr.Rudeus Greygrat
                    </div>
                    <div class="total">
                        Rp.123.000
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}