{% extends "layout.html" %}

{% block body %}

<div class="header ">
    <div class="bulat a"></div>
    <div class="bulat b"></div>
    <div class="bulat c"></div>
    <div class="title-header small">Data Customer</div>
    <a class="top-right-button" href="/data_customer">Back</a>
</div>
<div class="main-container align-center">
    <div class="name-title">{{nama}}</div>
    <div class="picture-container">
        <div class="profile-picture pp-big" style="background: url('{{foto}}');background-size: cover;"></div>
    </div>
    <div class="row-data">
        <div class="fiture">Address</div>
        <div class="contain">{{alamat}}</div>        
    </div>
    <div class="row-data">
        <div class="fiture">Phone Number</div>
        <div class="contain">{{no_tlp}}</div>        
    </div>
    <div class="row-data">
        <div class="fiture">Status Customer</div>
        <div class="contain">{{status}}</div>        
    </div>
    <div class="row-data">
        <div class="fiture">Total Transaction</div>
        <div class="contain">{{total}}</div>        
    </div>
    <div class="option">
        <div class="row-data">
            <div class="fiture">Paid</div>
            <div class="contain">{{paid}}</div>        
        </div>
        <div class="row-data">
            <div class="fiture">Unpaid</div>
            <div class="contain">{{unpaid}}</div>        
        </div>
    </div>
          
    <div class="option">
        <a href="/edit_data_customer?id={{id}}" class="button duo">Edit</div>
        <div class="button duo">Deactive</div>
    </div>

    <div class="h-line"></div>
    <div class="name-title">Transaction History</div>
    <table class="transaction-table">
        {% for date,ket,total in invoices %}
        <tr>
            <td class="c-1">{{date}}</td>
            <td class="c-2">{{ket}}</td>
            <td class="c-3">{{total}}</td>
        </tr>
        {% endfor %}
    </table>



</div>

{% endblock %}