{% extends "layout.html" %}

{% block body %}

<div class="header large">
    <div class="bulat a"></div>
    <div class="bulat b"></div>
    <div class="bulat c"></div>
    <h3 class="role">Manager</h3>
    <h4 class="name">{{name}}</h4>
    <a class="top-right-button" href="/logout">logout</a>
    <div class="title-header total-piutang">Total Piutang:</div>
    <div class="title-header jumlah-piutang">Rp. {{total_piutang}}</div>
</div>
<div class="main-container">
    <div class="data-container manager">
        <a href="/data_customer" class="button">Data Customer</a>
        <a href="/data_transaction" class="button">Data Transaction</a>
    </div>
</div>

{% endblock %}