{% extends "layout.html" %}

{% block body %}

<div class="header large">
    <div class="bulat a"></div>
    <div class="bulat b"></div>
    <div class="bulat c"></div>
    <h3 class="role">Manager</h3>
    <h4 class="name">Mandak Patrick</h4>
    <a class="top-right-button" href="/logout">logout</a>
    <div class="title-header total-piutang">Total Piutang:</div>
    <div class="title-header jumlah-piutang">Rp. 1.123.000</div>
</div>
<div class="main-container">
    <div class="data-container manager">
        <button class="button">Data Customer</button>
        <button class="button">Data Transaction</button>
    </div>
</div>

{% endblock %}