{% extends "layout.html" %}

{% block body %}

<div class="header large">
    <div class="bulat a"></div>
    <div class="bulat b"></div>
    <div class="bulat c"></div>
    <h3 class="role">Sales</h3>
    <h4 class="name">{{username}}</h4>
    <a class="top-right-button" href="/logout">logout</a>
    <div class="title-header">Invoices</div>
</div>
<div class="main-container">
    {%for category, message in get_flashed_messages(with_categories=True)%}
    <div class="{{category}}">{{message}}</div>
    {%endfor%}
    <div class="border-bottom">
        <a href="/new_invoice" class="button">Create New Invoice</a>
    </div>
    <div class="data-container">
        {% for id,name,total,date,img in all_invoice %}
        <div class="data-box">
            <div class="profile-picture" style="background: url('{{img}}');background-size: cover;">
            </div>
            <div class="data-section">
                <div class="name">
                    {{name}}
                </div>
                <div class="number-section">
                    <div class="date">
                        {{date}}
                    </div>
                    <div class="total">
                        Rp.{{total}}
                    </div>
                </div>
            </div>
        </div>
        {%endfor%}
        
    </div>
</div>

{% endblock %}