{% extends "layout.html" %}

{% block body %}

<div class="header large">
    <div class="bulat a"></div>
    <div class="bulat b"></div>
    <div class="bulat c"></div>
    <h3 class="role">Sales</h3>
    <h4 class="name">Basuki Purnomo</h4>
    <a class="logout" href="/logout">logout</a>
    <div class="title-header">Invoices</div>
</div>
<div class="main-container">
    <div class="border-bottom">
        <button class="button">Create New Invoice</button>
    </div>
    <div class="data-container">
        <div class="data-box">
            <div class="profile-picture">
                
            </div>
            <div class="data-section">
                <div class="name">
                    Mr.Rudeus Greygrat
                </div>
                <div class="number-section">
                    <div class="total">
                        Rp.123.000
                    </div>
                    <div class="date">
                        12/10/22
                    </div>
                </div>
            </div>

        </div>
        <div class="data-box">
            <div class="profile-picture">
                
            </div>
            <div class="data-section">

                <div class="name">
                    Mr.Rudeus Greygrat
                </div>
                <div class="number-section">
                    <div class="total">
                        Rp.123.000
                    </div>
                    <div class="date">
                        12/10/22
                    </div>
                </div>
            </div>

        </div>
        <div class="data-box">
            <div class="profile-picture">
                
            </div>
            <div class="data-section">

                <div class="name">
                    Mr.Rudeus Greygrat
                </div>
                <div class="number-section">
                    <div class="total">
                        Rp.123.000
                    </div>
                    <div class="date">
                        12/10/22
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="popup">
    <div class="box-popup">
        <div class="title-popup">Confirm New Invoice</div>
        <div class="picture-container">
            <div class="profile-picture"></div>
        </div>
        <div class="name">Mr. Rudeus Greygrat</div>
        <div class="number-section">
            <div class="date">
                12/10/22
            </div>
            <div class="total">
                Rp.300.000
            </div>
        </div>
        <div class="option">
            <div class="button duo">No</div>
            <div class="button duo">Yes</div>
        </div>
    </div>
</div>

{% endblock %}